.rainbow {

    /* Chrome, Safari, Opera */
   -webkit-animation: rainbow 20s infinite; 
   
   /* Internet Explorer */
   -ms-animation: rainbow 20s infinite;
   
   /* Standar Syntax */
   animation: rainbow 20s infinite; 
 }
 
 /* Chrome, Safari, Opera */
 @-webkit-keyframes rainbow{
   0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
   30%{color: CadetBlue;}
     40%{color: yellow;}
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }
 
 /* Internet Explorer */
 @-ms-keyframes rainbow{
    0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
   30%{color: CadetBlue;}
     40%{color: yellow;}
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }
 
 /* Standar Syntax */
 @keyframes rainbow{
     0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
   30%{color: CadetBlue;}
     40%{color: yellow;}
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }
 
 .sr-contact {

  /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 20s infinite; 
   
  /* Internet Explorer */
  -ms-animation: rainbow 20s infinite;
  
  /* Standar Syntax */
  animation: rainbow 20s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes sr-contact{
 0%{color: orange;}	
 10%{color: purple;}	
   20%{color: red;}
 30%{color: CadetBlue;}
   40%{color: yellow;}
 50%{color: coral;}
   60%{color: green;}
 70%{color: cyan;}
 80%{color: DeepPink;}
 90%{color: DodgerBlue;}
   100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes sr-contact{
  0%{color: orange;}	
 10%{color: purple;}	
   20%{color: red;}
 30%{color: CadetBlue;}
   40%{color: yellow;}
 50%{color: coral;}
   60%{color: green;}
 70%{color: cyan;}
 80%{color: DeepPink;}
 90%{color: DodgerBlue;}
   100%{color: orange;}
}

/* Standar Syntax */
@keyframes sr-contact{
   0%{color: orange;}	
 10%{color: purple;}	
   20%{color: red;}
 30%{color: CadetBlue;}
   40%{color: yellow;}
 50%{color: coral;}
   60%{color: green;}
 70%{color: cyan;}
 80%{color: DeepPink;}
 90%{color: DodgerBlue;}
   100%{color: orange;}
}

.container{
  color: white;
}

deepshadow {
  color: #e0dfdc;
  background-color: #111;
  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}